[requires]
python_version = "3.10"

[packages]
discord = {py = "*"}
aiohttp = "*"
peewee = "*"
PyYAML = "*"
python-dotenv = "*"

[dev-packages]
ruff = "*"
basedpyright = "*"
pytest = "*"
pytest-asyncio = "*"

[pipenv]
allow_prereleases = false
